@font-face{font-family:"UniversElse";src:url("/fonts/UniversElse/UniversElse-Bold.ttf") format("opentype");font-weight:400;font-style:normal;font-variant:normal}h1,h2,h3,h4{font-family:UniversElse,Arial,sans-serif}

