<meta charset="utf-8" />
<script src="d3.min.js"></script>
<script>

d3.csv("data/associative_memory.csv", function (data) {
    console.log(data.length);
    console.log(data[0]);
    console.log(data[0]["(86-258)"])
    // Use Array.map to select a column
    data = data.map(function (x) { return x["(86-258)"]} );
    console.log(data.length);
    console.log(data[0]);
    console.log(data[1]);
    console.log(data[3]);
    var min = d3.min(data),
        max = d3.max(data);
    console.log(min, max);
    var width = d3.select("body")[0][0].clientWidth;
    // console.log("width", width);
    var height = d3.scale.linear()
        .domain([min, max])
        .range([0, 100]);
    var position = d3.scale.linear()
        .domain([0, data.length])
        .range([0, 5000]);
    d3.select("body")
        .append("svg")
        .attr("width", width)
        .attr("height", 400)
        .append("g")
        .selectAll("rect")
        .data(data)
        .enter()
        .append("rect")
        .attr("height", function (d) { return height(d) })
        .attr("width", 1)
        .attr("x", function (d, i) { return position(i) })
        .attr("y", function (d) { return 50 - height(d) / 2 });  
});


</script>