<meta charset="utf-8" />
<style>
body {
    margin: 0;
    padding: 0;
}
circle {
    radius: 5;
}
</style>
<script src="d3.min.js"></script>
<script>

d3.csv("data/S1_23F_22_Enlargement.64x.csv", function (data) {
    console.log(data.length);
    var width = d3.select("body")[0][0].clientWidth;
    // console.log("width", width);
    // var height = d3.scale.linear()
    //     .domain([min, max])
    //     .range([0, 100]);
    // var position = d3.scale.linear()
    //     .domain([0, data.length])
    //     .range([0, 5000]);
    d3.select("body")
        .append("svg")
        .attr("width", width)
        .attr("height", 400)
        .append("g")
        .selectAll("g.row")
        .data(data.pixels)
        .enter()
        .append("g")
        .attr("class", "row")
        .selectAll("circle")
        .data(function (d) { return d })
        .enter()
        .append("circle")
        .attr("fill", "red")
        .attr("cx", function (d, i) { return i*5 })
        .attr("cy", function (d) { return 10 });  
});


</script>