@font-face {
      font-family: 'Titillium Light';
      src: local('Titillium Light'), url('Titillium-Ligth.ttf') format('truetype');
}

@font-face {
      font-family: 'Titillium';
      src: local('Titillium'), url('Titillium-Regular.ttf') format('truetype');
}

body {
    font-family: 'Titillium', sans-serif;
    color: #666;
    width: 90%;
    margin: 30px auto 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Light', sans-serif;
}

img {
    width: 100%;
}

img.small {
    max-width: 100px;
    height: auto;
}

img.medium {
    max-width: 200px;
    height: auto;
}

img.big {
    max-width: 600px;
    height: auto;
}


h3 {
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
}

#jazzy ul,
#nicola ul,
#princess ul {
    display: inline-block;
    width: 100px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

li > img {
    max-width: 100px;
    height: auto;
}
